<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <form action="{% url 'vote:votes' question.id %}" method="post">
        {% csrf_token %}
    <fieldset>
        <legend><h1>{{question.question_text}}</h1></legend>
        {% if error_message  %}<p><strong>{{ error_message}}</strong></p>{% endif %}
        {% for serie in question.serie_set.all %} 
        <input type="radio" name="serie" id="serie{{ forloop.counter }}" value="{{ serie.id }}">
        <label for="serie{{ forloop.counter }}">{{ serie.nom_serie}}<img src="{{serie.image_serie}}" width="200" height="100"> </label><br>
        
        {% endfor %} 
    </fieldset>    
    <input type="submit" value="Vote">
    </form>
</body>
</html>